# ###################################
# pegged by Amazon itself, check lambda log files for current supported version
boto3==1.9.42
botocore==1.12.42
# ###################################

# ###################################
# pegged to praktikos-api/packages
peewee==3.9.4
psycopg2==2.8.2
# ###################################

-e.
